; -*- mode: clojure; -*-
; vim: filetype=clojure

(logging/init {:file "riemann.log"})

; Listen on the local interface over TCP (5555)
(let [host "0.0.0.0"]
	(tcp-server {:host host}))

(require '[clj-http.client :as client]
	'[riemann.query :as query])


; Expire old events from the index every 5 seconds.
(periodically-expire 5)


(defn show-structure [& children]
	(fn [event]
		(println (class event)))) 

(let [index (index)]
	(streams
		(where (state "tablespoon")
			(where (tagged "groupAverage")
				(by :service
					(coalesce 10
						(smap folds/median 
							(tag "median"
								(with :host nil
									index
									))))))
			(where (not (tagged "groupAverage"))
				index
				))))