; -*- mode: clojure; -*-
; vim: filetype=clojure

(logging/init {:file "riemann.log"})

; Listen on the local interface over TCP (5555)
(let [host "0.0.0.0"]
	(tcp-server {:host host}))

(require '[clj-http.client :as client]
	'[riemann.query :as query])


; Expire old events from the index every 5 seconds.
(periodically-expire 5)


(defn coalesce-5-median 
  [event]
  (coalesce 5
    (smap folds/median 
      (tag "median"
        (with :host nil
          index
          )))))

(let [index (index)]
 (streams
   (by :service
    (where (state "tablespoon") 
      prn
      (where (tagged "GROUP_MEDIAN")
        coalesce-5-median)
      (where (tagged "GROUP_AVERAGE")
        index)
      (where (tagged "REGULAR")
        index)
      ))))

