; -*- mode: clojure; -*-
; vim: filetype=clojure

(logging/init {:file "riemann.log"})

(include "socket.clj")
(include "influxdb.clj")

; Listen on the local interface over TCP (5555)
(let [host "127.0.0.1"]
  (tcp-server {:host host}))

(require '[clj-http.client :as client]
 '[riemann.query :as query])


; Expire old events from the index every 5 seconds.
(periodically-expire 5)


(defn show-structure [& children]
  (fn [event]
    (println (class event)))) 


(let [index (index)]
  ; Inbound events will be passed to these streams:
  (streams
    ; (where (service "CPU")
      ; (default :ttl 60
      ; (show-structure prn)
      (influxdb-send {})
      ; Index all events immediately.
      index
      ; Log expired events.
      (expired
        (fn [event] (info "expired" event)))))
; )


